@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,700);
@import "@material/button/mdc-button";

html, body {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
    overflow: scroll;
	overflow-x: hidden;

}

#home_container {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

form {
	display: flex;
	width: 100%;
}

.btn {
	position: relative;
	float: right;
	display: block;
	margin: 30px auto;
	padding: 0;
	margin-top: 60px;
	margin-right: 6%;
	overflow: hidden;

	border-width: 0;
	border-radius: 6px;

	border: 2px solid white;
	background-color: transparent;
	color: white;

	transition: background-color .2s;
	transition: border .2s;
}

.btn:hover {
	background-color: #00B4CC;
	border: 2px solid #00B4CC;
}

.btn span {
	display: block;
	padding: 18px 32px;
}

#searchContainer {
	width: 100%;
	padding-top: 50px;
	border-bottom: 0.5px solid #00B4CC;
	height: 120px;
}

.search {
	width: 50%;
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#search {
	transition: all .2s;
}

.searchTerm {
	width: 100%;
	border: 2px solid #00B4CC;
	border-right: none;
	margin-right: 5px;
	padding: 5px;
	height: 40px;
	/*border: 2px solid #333;*/
	background-color: none;
	color: white;
	outline: none;
	color: #9DBFAF;
	border-radius: 5px 5px 5px 5px;
    -moz-transition: all 0.3s;
	transition: all 0.3s;
}

.searchTerm:focus{
	color: #00B4CC;
}

.searchButton {
	width: 80px;
	height: 54px;
	background-color: #00B4CC;
	border: 2px solid #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-size: 25px;
	margin-left: 7px;

	background-color: #00B4CC;
	color: white;
	transition: background-color .2s;
	transition: border .2s;

}

/*.searchButton:hover {
	background-color: #00B4CC;
	border: 2px solid #00B4CC;
}*/

.searchTerm:active {
	background-color: white;
}

input::placeholder {
	opacity: 0.8;
	font-size: 18px;
	text-align: center;
	/*Resize the wrap to see the search bar change!*/
}

input[type="text"] {
	font-size:20px;
}

.wrap{
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -moz-transition: all 0.6s;
	transition: all 0.6s;
}

h1 {
	font-size: 60px;
	color: white;
	text-align: center; 
	transition: all 0.3s
}

h2 {
	font-size: 25px;
	text-align: center;
	padding-bottom: 10%;
	color: white;
	font-weight: 300;
}

tfoot {
	border: 2px solid #00B4CC;
}

th {
	font-weight: 200;
	text-align: left;
	font-size: 14px;
}

.bold-font {
	font-weight: 700;
}


.hidden {
	display: none;
}

.visible {
	display: block;
}
